 @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap'); */

:root{
    font-size: 62.5%;
}


body{
    font-family: 'Ubuntu';
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.li::before{
    transition-duration: 1s;
    opacity: 0;
}
/* 
.liop{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
} */
/* 
.li:active{
    color: lightblue;
    border-top: 2px solid lightblue;
    border-bottom: 2px solid lightblue;
}

 */

ul{
    visibility: hidden;
    display: flex;
}

li{
    margin: 1rem;
    font-size: 1.8rem;
}

h1{
    font-size: 2.4rem;
    padding-top: 20px;
    padding-bottom:20px;
}


.options{
    display:flex;
    padding-bottom: 10rem;
}
.h1{
    /* font-size: 20px; */
    font-size: 3.3rem;
    color: white;
    font-weight: 600;
}

.moreimg{
    margin-left: 6rem;
    margin-top: 1rem;
    border: none;
    background-color: #00000000;
}

.moreimgop {
    margin-top: 2rem;
}

p{
    color: #222733;
    font-size: 1.4rem;
}

.pPovar{
    /* font-size: 20px; */
    font-size: 2.2rem;
    color: black;
    font-weight: 500;
}

h3{
    font-size: 2.2rem;
}

.up{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

/* 360 was */

header{
    /* width: 36rem; */
    /* height: 58rem; */
    background-color: #fff;
    background-image: url("pics/head.png");
    background-size: cover;
    color: white;
    text-align: center;
    /* padding-left: 8.5rem;
    padding-right: 2rem; */
    /* padding: 1rem; */

    padding-left: 8%;
    padding-right: 8%;
}

main{
    /* width: 36rem; */
    margin: 0 auto;
}

footer{
    /* width: 36rem; */
}

.pheader{
    color: lightgray;
    /* font-size: 12px; */
}

.upper{
    display: none;

}

.pupper1{
    color: lightgray;
    margin-right: 25%;
}

.pupper2{
    color: lightgray;
    margin-right: 3%;
}

.pupper3{
    color: lightgray;
}

.pheader2{
    color: lightgray;
    /* font-size: 12px; */
    font-size: 1.6rem;
}

.submit{
    background-color: #fff;
    height: 5rem;
    width: 30rem;
    
    margin-top: 10px;
}

.pokazateli{
    display: flex;
}

.pokaztext{
    height: 15rem;
    width: 22rem;
    margin: 1.5rem;
}

.textonas{
    padding: 1.5rem;
}





/* .kavichki2{
    width: 5rem;
    height: 5rem;
    background-image: url("pics/kavichki2.png");
    background-size: cover;
    
} */

.cheif{
    color: grey;
}

.playimg{
    width: 7rem;
    height: 5rem;
    background-color: #fff;
    background-image: url("pics/play.png");
    background-size: cover;
    
}

.whywe{
    display: flex;
    padding: 1.5rem;
}


.whyweimg{
    margin-right: 1rem;
}

.newsaboutus{
    /* width: 30rem; */
    height: 45rem;
    background-image: url("pics/grayfoto.png");
    background-image: url("pics/americantraditions.png");
    background-size: cover;
    background-color: #222733;
    padding: 2.5rem;
    object-fit: fill;
}

.forbes{
    display: flex;
    
}

.forbesimg{
   margin-right: 5rem;
}

.btnleft{
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    background-color: #00000000;
    border: none; 
}

.btnright{
    width: 5rem;
    height: 5rem;
     /* background-image: url("pics/right.png");  */
    /* background-size: cover;*/
    margin-left: 1rem; 
    border: none; 
    background-color: #00000000; 
}

.btnrightop{
    height: 6rem;
}

.btnleftop{
    height: 6rem;
    
}
.btn {
    width:50%;
    display: inline-block;
    background: #8C959D;
    color: #fff;
    padding: 5%;
    margin: 15%;
    border-radius: 3px;
}
.parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1em;
    margin-left: 2%;
    margin-right: 2%;
}
.child {
    min-height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    overflow: hidden;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
.child img {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
}
.buon{
    grid-column: 1;
    grid-row: 1;
    margin-left: 45%;
}
.but {
    background: #3d81bd;
    color: #fff;
    padding: 5%;
    border-radius: 5px;
}
.icones{
    display: flex;
    padding-left: 1rem;
}

.iconfoot{
    margin: 1rem;
}

.pabout1{
    color: #fff;
    /* font-size: 10px; */
    font-size: 1rem;
    margin-right: 30%;
}

.pokaz{
    font-weight: 600;
    font-size: 4rem;
}

.pabout2{
    color: #fff;
    /* font-size: 25px; */
    font-size: 2.6rem;
    font-weight: 600;
}

.sub1btn{
    width: 10rem;
    height: 4rem;
    border-radius: 50px;
    color: white;
    background-color: darkcyan;
}

.sub1btnop{
    color:black;
    background-color: cyan;
}
.povar{
    margin-top: 2rem;
    padding: 1.5rem;
    /* display: none; */
}

.nordic{
    margin-right: 20%
}

.pFoot{
padding-left: 2rem;
}

.plus{
    padding-left: 1rem;

}

.flexing{
    display: flex;
}
.gridbox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 1rem;
}

.griditem{
    background-color: green;
    text-align: center;
    color: white;
    font-size: 30px;
}

.biggrid{
    display: grid;
    grid-template-columns:20% 80%;
}

.slidergrid {
 
    display: grid;
    background-color: gray;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);

}

.slidergriditem1{
    width: 100px;
    height: 100px;
    background-image: url("pics/stargrid.png");
    background-size: cover;
}

.slidergriditem2{
    width: 100px;
    height: 100px;
    background-image: url("pics/poolgrid.png");
    background-size: cover;
}

.heads{
    padding-bottom: 5rem;
}

.videomobileimg{
    visibility: visible;
    display: block;
}

.videocompimg{
    visibility: hidden;
    display: none;
}

.povarcomputer{
    display: none;
}

.povarmobile{
    display: block;
}

.kavichki1{
    display: none;
}

.animated-link {
    position: relative;
    display: block;
}

.animated-link::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: -4px;
    opacity: 0;
}

.animated-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -4px;
    opacity: 0;
}

.li .animated-link::before,
.li .animated-link::after {
    transition: opacity 0.3s;;
}

.li:hover .animated-link::before,
.li:hover .animated-link::after {
    opacity: 1;
}

@media screen  and (min-width:1024px){
    .kavichki1{
        display: block;
    }
    .povarcomputer{
        display: block;
    }
    
    .povarmobile{
        display: none;
    }
    .textonas{
        display: flex;
    }
    .usus{
        margin-left: 8%;
        margin-right: 8%;
    }
    .heads{
        display: flex;        

    }

    .povardonthnowhy{
        display: flex;
        margin-left: 8%;
        margin-right: 8%;
    }

    .hades{
        text-align: left;
    }
    .hdeas{
        margin-left: 1%;
        margin-top: 5%;
    }
    .podr{
        background-color:#222733;
        padding: 10px;
        margin-top: 5%;
    }
    .pokazz{
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
    }
    .povar{
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
    }
    .vopar{
        margin-left: 5%;
        margin-right: 2%;
        margin-top: 5%;
    }
    .newsaboutus{
        background-image: url("pics/americancomputer2.jpg");
        display: flex;
        padding-left: 8%;
        padding-right: 8%;
        background-color: #222733;
    }

    .videomobileimg{
        visibility: hidden;
        display: none;
    }

    .videocompimg{
        visibility: visible;
        display: block;
    }

    /* .kavichki2{
        margin-left: 10%;
    } */

    .pwhy{
        margin-right: 10%;
    }

    .whywhy{
        display: flex;
    }
    .whywe{
        display: block;
    }

    ul{
        visibility: visible;
    }

    .moreimg{
        visibility: hidden;
    }

    footer{
        display: flex;
        margin-left: 8%;
        margin-right: 8%;
    }

    .icones{
        margin-left: 40%;
    }

    .forbesimg{
        margin-right: 33rem;
     }

    .upper{
        display: flex;
    }
}
@media screen  and (min-width:1600px){
    .hdeas{
        margin-left: 20%;
    }
}
