 @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap'); */

:root{
    font-size: 62.5%;
}


body{
    font-family: 'Ubuntu';
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.logo{
    margin-left: 50px;
}

ul{
    visibility: hidden;
}

h1{
    font-size: 2.4rem;
    padding-top: 20px;
    padding-bottom:20px;
}

.h1{
    /* font-size: 20px; */
    font-size: 3.3rem;
    color: white;
    font-weight: 600;
}

.moreimg{
    margin-left: 6rem;
    margin-top: 1rem;
    border: none;
    background-color: #00000000;
}

.moreimg:hover {
    margin-top: 2rem;
}

p{
    color: #222733;
    font-size: 1.4rem;
}

.pPovar{
    /* font-size: 20px; */
    font-size: 2.2rem;
    color: black;
    font-weight: 500;
}

h3{
    font-size: 2.2rem;
}

.up{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

/* 360 was */

header{
    /* width: 36rem; */
    height: 58rem;
    background-color: #fff;
    background-image: url("pics/head.png");
    background-size: cover;
    color: white;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    /* padding: 1rem; */
}

main{
    /* width: 36rem; */
    margin: 0 auto;
}

footer{
    /* width: 36rem; */
}

.pheader{
    color: lightgray;
    /* font-size: 12px; */
}

.pheader2{
    color: lightgray;
    /* font-size: 12px; */
    font-size: 1.6rem;
}

.submit{
    background-color: #fff;
    height: 5rem;
    width: 30rem;
    
    margin-top: 10px;
}

.pokazateli{
    display: flex;
}

.pokaztext{
    height: 15rem;
    width: 22rem;
    margin: 1.5rem;
}

.textonas{
    padding: 1.5rem;
}

/*.videoimg{
    width: 200px;
    height: 300px;
    background-color: #fff;
    background-image: url("pics/videoimg.png");
    background-size: cover;
}
*/



.kavichki2{
    width: 5rem;
    height: 5rem;
    background-image: url("pics/kavichki2.png");
    background-size: cover;
    
}

.cheif{
    color: grey;
}

.playimg{
    width: 7rem;
    height: 5rem;
    background-color: #fff;
    background-image: url("pics/play.png");
    background-size: cover;
    
}

.whywe{
    display: flex;
    padding: 1.5rem;
}


.whyweimg{
    margin-right: 1rem;
}

.newsaboutus{
    /* width: 30rem; */
    height: 45rem;
    background-image: url("pics/grayfoto.png");
    background-image: url("pics/americantraditions.png");
    background-size: cover;
    background-color: #222733;
    padding: 2.5rem;
    object-fit: fill;
}

.forbes{
    display: flex;
    
}

.forbesimg{
   margin-right: 5rem;
}

.btnleft{
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    background-color: #00000000;
    border: none; 
}

.btnright{
    width: 5rem;
    height: 5rem;
     /* background-image: url("pics/right.png");  */
    /* background-size: cover;*/
    margin-left: 1rem; 
    border: none; 
    background-color: #00000000; 
}

.btnright:hover{
    height: 6rem;
}

.btnleft:hover{
    height: 6rem;
    
}

.icones{
    display: flex;
    padding-left: 1rem;
}

.iconfoot{
    margin: 1rem;
}

.pabout1{
    color: #fff;
    /* font-size: 10px; */
    font-size: 1rem;

}

.pokaz{
    font-weight: 600;
    font-size: 4rem;
}

.pabout2{
    color: #fff;
    /* font-size: 25px; */
    font-size: 2.6rem;
}


.povar{
    margin-top: 2rem;
    padding: 1.5rem;
    /* display: none; */
}

.pFoot{
padding-left: 2rem;
}

.plus{
    padding-left: 1rem;

}

.flexing{
    display: flex;
}