 @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap'); */

:root{
    font-size: 62.5%;
}


body{
    font-family: 'Ubuntu';
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.logo{
    margin-left: 50px;
}

ul{
    visibility: hidden;
}

.h1{
    /* font-size: 20px; */
    font-size: 2rem;
    color: white;
    font-weight: 600;
}

.moreimg{
    margin-left: 6rem;
    margin-top: 1rem;
    border: none;
    background-color: #00000000;
}

p{
    color: #222733;
    font-size: 1.2rem;
}

.pPovar{
    /* font-size: 20px; */
    font-size: 2rem;
    color: black;
}

.up{
    display: flex;
    padding-top: 1rem;
    padding-left: 6.5rem;
    margin-bottom: 10rem;
}

/* 360 was */

header{
    width: 36rem;
    height: 55rem;
    background-color: #fff;
    background-image: url("pics/head.png");
    background-size: cover;
    color: white;
    text-align: center;
    padding: 1.5rem;
}

main{
    width: 36rem;
}

footer{
    width: 36rem;
}

.pheader{
    color: lightgray;
    /* font-size: 12px; */
    font-size: 1.2rem;
}

.submit{
    background-color: #fff;
    height: 5rem;
    width: 30rem;
    border: none;
    margin-top: 10px;
}

.pokazateli{
    display: flex;
}

.pokaztext{
    height: 15rem;
    width: 22rem;
    margin: 1.5rem;
}

.textonas{
    padding: 1.5rem;
}

/*.videoimg{
    width: 200px;
    height: 300px;
    background-color: #fff;
    background-image: url("pics/videoimg.png");
    background-size: cover;
}
*/



.kavichki2{
    width: 5rem;
    height: 5rem;
    background-image: url("pics/kavichki2.png");
    background-size: cover;
    
}

.cheif{
    color: grey;
}

.playimg{
    width: 7rem;
    height: 5rem;
    background-color: #fff;
    background-image: url("pics/play.png");
    background-size: cover;
    
}

.whywe{
    display: flex;
    padding: 1.5rem;
}


.whyweimg{
    margin-right: 1rem;
}

.newsaboutus{
    width: 30rem;
    height: 45rem;
    background-image: url("pics/grayfoto.png");
    background-image: url("pics/americantraditions.png");
    background-size: cover;
    background-color: #222733;
    

}

.forbes{
    display: flex;
    
}

.forbesimg{
   margin-right: 5rem;
}

.btnleft{
    width: 5rem;
    height: 5rem;
    background-image: url("pics/left.png");
    background-size: cover;
    margin-right: 1rem;
    border: none;
    background-color: #00000000;
}

.btnright{
    width: 5rem;
    height: 5rem;
    background-image: url("pics/right.png");
    background-size: cover;
    margin-left: 1rem;
    border: none;
    background-color: #00000000;
}

.icones{
    display: flex;
}

.iconfoot{
    margin: 1rem;
}

.pabout1{
    color: #fff;
    /* font-size: 10px; */
    font-size: 1rem;

}

.pabout2{
    color: #fff;
    /* font-size: 25px; */
    font-size: 2.5rem;
}

.newsaboutus{
    padding: 2.5rem;
}

.povar{
    margin-top: 2rem;
    padding: 1.5rem;

}

.pFoot{
    padding-left: 1.5rem;
    padding-top: 2rem;
    padding-right: 4rem;
}

.plus{
    padding-left: 1rem;

}

.flexing{
    display: flex;
}